<div class="page page_receive">
  <header>
    <div class="dl">
      <a href="javascript:history.go(-1);" class="left_icon iconfont">
        &#xe60e;
      </a>
      <span style="">
        <!-- 备份保存 -->
        {{languages.Backup[selectLanguage.selected.id]}}
      </span>
    </div>
  </header>
  <div class="page_receive_content">
    <div class="receive_s">
      <p>{{seed}}</p>
    </div>
    <div class="receive_x">
      <div style="margin:50px 0px;">
        <qrcode version="5" error-correction-level="L" size="250" data="{{seed}}"></qrcode>
      </div>
      <p ng-click="copybtn()">
        <i class="iconfont">&#xe60a;</i>
        <!-- &nbsp;复制seed -->
        &nbsp;{{languages.Copyseed[selectLanguage.selected.id]}}
      </p>
      <div class="receive_x1">
        <i class="iconfont">&#xe60b;</i>
      </div>
    </div>
  </div>
</div>
