<div class="page page_reg">
	<header>
	  <div class="dl">
	  	<a href="javascript:history.back();" class="left_icon iconfont">
	      &#xe60e;
	    </a>
			<span style="">
				<!-- 注册 -->
				{{languages.Register[selectLanguage.selected.id]}}
			</span>
			<a ui-sref="login" class="right_icon">
				<!-- 登录 -->
				{{languages.Login[selectLanguage.selected.id]}}
      </a>
	  </div>
	</header>
	<div class="page_reg_content">
		 <div class="reg_a">
        <!-- 用户名<br/> -->
        {{languages.Username[selectLanguage.selected.id]}}<br/>
        <input type="text" name="username" placeholder="{{languages.TypeUsername[selectLanguage.selected.id]}}" ng-model="user.username">
        <!-- <input type="text" name="username" placeholder="输入用户名" ng-model="user.username"> -->
		 </div>
		 <div class="reg_a">
				<!-- 登录密码<br/> -->
				{{languages.LoginPassword[selectLanguage.selected.id]}}<br/>
				<!-- <input type="password" name="userpwd" placeholder="输入登录密码" ng-model="user.password"> -->
				<input type="password" name="userpwd"  placeholder="{{languages.password[selectLanguage.selected.id]}}" ng-model="user.password">
		 </div>
     <div class="reg_a">
				<!-- 再次输入登录密码<br/> -->
				{{languages.TypePassword[selectLanguage.selected.id]}}<br/>
        <!-- <input type="password" name="userpwd2" placeholder="再次输入登录密码" ng-model="passwordagain"> -->
        <input type="password" name="userpwd2" placeholder="{{languages.TypePassword[selectLanguage.selected.id]}}" ng-model="passwordagain">
		 </div>
     <button class="btn_dlan" ng-disabled="user.password != passwordagain" ng-click="reg()">
			 <!-- 注册 -->
			 {{languages.Register[selectLanguage.selected.id]}}
		 </button>
	</div>
</div>
