<div ui-view>
  <div class="page page_address1">
    <header>
      <div class="dl">
        <a class="left_icon"  style="color: #67d1d9;font-size: 14px;"></a>
        <span style="">{{languages.CurrentVersion[selectLanguage.selected.id]}}</span>
        <!-- <span style="">当前版本</span> -->
        <a href="javascript:history.go(-1);" class="right_icon iconfont">
          &#xe600;
        </a>
      </div>
    </header>
    <div class="page_address1_content" style="text-align:center;">
		<div style="margin-top:200px;font-size:16px;text-align:center;height:40px;line-height:40px;">{{languages.CurrentVersion[selectLanguage.selected.id]}}：V 1.0.1</div>
    </div>
  </div>
</div>
